spring:
  cloud:
    stream:
      bindings:
        soundbitsChannel:
          destination: soundbits

  zipkin:
    base-url: http://localhost:9411/
    enabled: true
    sender:
      type: web

  sleuth:
    sampler:
      probability: 1.0

  application:
    name: publisher

