spring:
  cloud:
    stream:
      bindings:
        soundbitsChannel:
          destination: soundbits-span1
        input:
          destination: response-channel
          group: soundbitsGroup
  zipkin:
    base-url: http://localhost:9411/
    enabled: false
    sender:
      type: web

  sleuth:
    sampler:
      probability: 1.0

  application:
    name: publisher
  main:
    allow-bean-definition-overriding: true
server:
  port: 8181

management:
  endpoints:
    web:
      exposure:
        include: "*"
---
spring:
  profiles: k8s
  rabbitmq:
    host: rabbitmq

  zipkin:
    base-url: http://zipkin:9411/
server:
  port: 8080