apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: wiremock
  name: wiremock
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
    nodePort: 31888
  selector:
    app: wiremock
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wiremock-deployment
  labels:
    app: wiremock
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wiremock
  template:
    metadata:
      labels:
        app: wiremock
    spec:
      containers:
      - name: wiremock
        image: holomekc/wiremock-gui
        ports:
        - containerPort: 8080