apiVersion: v1
kind: Service
metadata:
  name: http-listener
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    run: http-listener
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: http-listener
  labels:
    run: http-listener
spec:
  replicas: 1
  selector:
    matchLabels:
      run: http-listener
  template:
    metadata:
      labels:
        run: http-listener
    spec:
      initContainers:
      - name: init-rabbitmq
        image: busybox:1.28
        command: ['sh', '-c', "echo Initializing...;sleep 20s;"]
      containers:
      - name: http-listener
        image: ashumilov/http-listener
        ports:
        - containerPort: 8080
        imagePullPolicy: Always
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: k8s      