apiVersion: apps/v1
kind: Deployment
metadata:
  name: subscriber-publisher
  labels:
    run: subscriber-publisher
spec:
  replicas: 1
  selector:
    matchLabels:
      run: subscriber-publisher
  template:
    metadata:
      labels:
        run: subscriber-publisher
    spec:
      initContainers:
      - name: init-rabbitmq
        image: busybox:1.28
        command: ['sh', '-c', "echo Initializing...;sleep 20s;"]
      containers:
      - name: subscriber-publisher
        image: ashumilov/subscriber-publisher
        ports:
        - containerPort: 8080
        imagePullPolicy: Always
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: k8s,sync
        - name: SPRING_APPLICATION_NAME
          value: subscriber-publisher1
        - name: INTPUT_CHANNEL
          value: soundbits-span1
        - name: OUTPUT_CHANNEL
          value: soundbits-span2
      - name: subscriber-publisher2
        image: ashumilov/subscriber-publisher
        ports:
        - containerPort: 8080
        imagePullPolicy: Always
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: k8s,sync
        - name: SPRING_APPLICATION_NAME
          value: subscriber-publisher2
        - name: INTPUT_CHANNEL
          value: soundbits-span2
        - name: OUTPUT_CHANNEL
          value: soundbits-span3          
