spring:
  zipkin:
    base-url: http://localhost:9411/
    enabled: false
    sender:
      type: web

  sleuth:
    sampler:
      probability: 1.0

  application:
    name: http-listener

management:
  endpoints:
    web:
      exposure:
        include: "*"
---
spring:
  profiles: k8s

  zipkin:
    base-url: http://zipkin:9411/

logging:
  level:
    org.springframework.web: debug
